@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
--primary-color: #28bf96;
--primary-color-dark: #209677;
--text-dark: #111827;
--text-light: #6b7280;
--white: #ffffff;
}



.btn {
padding: 1rem 2rem;
outline: none;
border: none;
font-size: 1rem;
color: var(--white);
background-color: var(--primary-color);
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

.btn:hover {
background-color: var(--primary-color-dark);
}

.body {
font-family: "Roboto", sans-serif;
}

.container {
min-height: 75vh;
max-width: 1200px;
margin: auto;
display: flex;
flex-direction: column;
}

.link .bb {
text-decoration: none;
color: var(--text-light);
cursor: pointer;
transition: 0.3s;
}

.link .bb:hover {
color: var(--primary-color);
}

.header {
padding: 10vh 1rem;
/* flex: 1; */
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 2rem;
align-items: center;
}

.content h1 {
margin-bottom: 1rem;
font-size: 3rem;
font-weight: 700;
color: var(--text-dark);
}

.content h1 span {
font-weight: 400;
}

.content p,.test p {
margin-bottom: 2rem;
color: var(--text-light);
line-height: 1.75rem;
}

.image {
position: relative;
text-align: center;
isolation: isolate;
transition-property: all;
transition-duration: 4s;
}

.image__bg {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -40%);
height: 450px;
width: 450px;
background-color: var(--primary-color);
border-radius: 100%;
z-index: -1;
}

.image__content {
/* position: absolute;
top: 50%;
left: 50%; */
padding: 1rem 2rem;
display: flex;
align-items: center;
gap: 1rem;
text-align: left;
background-color: var(--white);
border-radius: 5px;
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.image__content__1 {
transform: translate(calc(-50% - 12rem), calc(-50% - 8rem));
}

.image__content__1 span {
padding: 10px 12px;
font-size: 1.5rem;
color: var(--primary-color);
background-color: #defcf4;
border-radius: 100%;
}

.image__content__1 h4 {
font-size: 1.5rem;
font-weight: 600;
color: var(--text-dark);
}

.image__content__1 p {
color: var(--text-light);
}

.image__content__2 {
transform: translate(calc(-50% + 8rem), calc(-50% + 10rem));
}

.image__content__2 ul {
list-style: none;
display: grid;
gap: 1rem;
}

.image__content__2 li {
display: flex;
align-items: flex-start;
gap: 0.5rem;
color: var(--text-light);
}

.image__content__2 span {
font-size: 1.5rem;
color: var(--primary-color);
}
.image span{
display: flex;
justify-content: center;
align-items: center;
}

.image .span .img{

width: 350px;
}
/*Form button*/
.header .form_button{
width:25%;
padding: 1rem 2rem;
text-align: center;
font-size: 2rem;
border-radius: 5px;
outline: none;
border: none;
margin-bottom: 5vh;
color: #ffffff;
cursor: pointer;
background-color: #28bf96;
}
.header .form_button .cc{
color: #ffffff;
text-decoration: none;
}
.form_button:hover {
    background-color: var(--primary-color-dark);
    }
/*about css */
.aboutContainer{
    min-height: 80vh;
    display: grid;
    place-content: center;
}
.about{
    max-width: 1200px;
    min-height: 30vh;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    display: grid;
    text-align: center;
    grid-template-columns: 0.5fr 2fr;
    place-content: center;
    align-items: center;
}
.about img {
    height: 300px;
}

.abt{
    color: #111827;
    font-size: large;
    font-weight: bold;
    display: block;
}
.testContainer {
    min-height: 80vh;
    display: grid;
    place-content: center;
}
.test {
    min-height: 30vh;
    /* max-width: 1200px; */
    /* margin: auto; */
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: start;
    place-content: center;
    text-align: center;
    align-content: start;
}

.test p {
    margin-top: 135px;
}

.test img {
    max-width: 100%; 
    height: auto; 
    grid-column: 2;
    grid-row: 1 / span 2; 
}

.tst {
    color: #111827;
    font-size: large;
    font-weight: bold;
    display: block;
    padding:  10px 2px;
}

.test .form_button {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 1rem;
    color: #ffffff;
    cursor: pointer;
    background-color: #28bf96; 
    /* margin-top: -20px; */
    width: 50%;
}
.form_button:hover {
    background-color: var(--primary-color-dark);
}
/*floating animation*/
.floating {  
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(-50%,  -45%); }
    50%  { transform: translate(-50%, -35%); }
    100%   { transform: translate(-50%, -45%); }    
}


@media screen and (min-width:1025px){
    .container{
        max-width: 1050px;
    }
    .image .span .img{
        width: 300px;
    }
    .image__bg{
        height: 380px;
        width:380px;
    }
    .content h1 {
        font-size: 2.5rem;
    }
    .header .form_button {
        font-size: 1.7rem;
    }
    .about{
        max-width:1025px;
    }
    .about img {
        height: 350px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        min-height: 75vh;
        max-width: 1300px;
        margin: auto;
        display: flex;
        flex-direction: column;
        } 
        .about{
            max-width:1200px;
        }
        .about img {
            height: 400px;
        }
}

@media screen and (max-width : 481px) {
/* .nav__links {
    display: none;
} */

.header {
    padding: 16px 16px 16px 0px;
    grid-template-columns: 1fr
}
.header .content{
    padding-top: 25rem;
    text-align: center;
}
.aboutContainer .content {
    padding-top: 10rem;
    padding-bottom: 5rem;
    text-align: center;
    /* background-color: red; */
}
/* .content:nth-child(2){
    text-align: center;
} */

.image {
    grid-area: 1/1/2/2;
}
.image__bg {
    transform: translate(-50%,0%);
    height: 400px;
    width: 400px;
}
.image .span .img{
    width:300px;
}
.responsive_button{
    min-width: 100vw;
    text-align: center;
}
.header .form_button{
    width: 50%;
    text-align: center;
}
.center{
    display: flex;
    justify-self: center;
    align-items: center;
}
.about p{
    grid-template-columns: 0.5fr;
    width: 100vw;
}
.aboutContainer,.about{
    grid-template-columns: 1fr;
}

.about img{
    width:340px;
    height: auto;
    margin: 0 auto;
}

.center{
    display: flex;
    justify-self: center;
    align-items: center;
}
.image .span .img{
    width:250px;
}
.image__bg {
    transform: translate(-50%,0%);
    height: 350px;
    width: 350px;
}
.test{
    grid-template-columns: 1fr;
}
.test img {
    max-width: 70%;  
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
}
.test p {
    margin-top: 50px;
}
.test .form_button{
    font-size: 1.5rem;
}
@keyframes floating {
    0% { transform: translate(-50%,  0%); }
    50%  { transform: translate(-50%, 7%); }
    100%   { transform: translate(-50%, 0%); }    
}

}
