@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Merienda:wght@500&family=Nunito+Sans:opsz,wght@6..12,500&family=Nunito:ital,wght@0,200;0,300;1,200&family=Outfit:wght@200&family=Playfair+Display&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --HEADER-COLOUR:white;
    --primary-color: #28bf96;
    --primary-color-dark: #209677;
    --text-dark: #111827;
    --text-light: #6b7280;
    --form-color: #87D5C0;
    --radio-color: #660708;

}

.button_class{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    /* text-align: center; */
    min-height: 8vh;
}
._button{
    width: 30%;
    height: 5vh;
    border-radius: 20px;
    color: aliceblue;
    background-color: crimson;
}


.con{
    width:90%;
    margin: auto;
    margin-top: 5vh;
}

/*Buffer*/
.buffer{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header*/


#space_even{
    display: flex;
    justify-content: space-around;
}

/*BODY*/
.main_form{
    min-height: 80vh;
    background-color: #8bdbc6ac;
    color: #340F0F;
    border-radius: 20px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    /* background-color: rgb(171, 13, 10); */
}


.box .sub_title{
    display: inline;
    font-size: 1.5rem;
    font-family: "Nunito Sans";
    
}
.form{
    display: grid;
    grid-template-columns: auto auto auto;
    /* row-gap: 10px; */
}
.box{
    /* border: 1px solid #333; */
    padding: 10px;
}
/* .box label{
    padding-top: 50px;
} */
.box  .input{
    padding: 10px;
    width: 80%;
}

#t3{
    grid-column: 2;
    grid-row: 6;
}
#Tsh{
    grid-column: 1 ;
    grid-row: 6;
}
#Tt4{
    grid-row: 6;
    grid-column: 3;
}
::selection{
    background-color: crimson;
    color: white;
}
/*Radio customization*/
.radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 24px;
    } 
.radio-button__label {
    /* display: inline-block; */
    padding-left: 20px;
    /* padding-top: 20px; */
    position: relative;
    top: 10px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    }
    .radio-button__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    .radio-button__custom {
        position: absolute;
        top: 70%;
        left: 0;
        transform: translateY(-70%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #555;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    }    
    .radio-button__input:checked + .radio-button__label .radio-button__custom {
        transform: translateY(-70%) scale(0.9);
        border: 5px solid var(--radio-color);
        color: var(--radio-color);
    }
    
    .radio-button__input:checked + .radio-button__label {
        color: var(--text-dark);
    }
    
    .radio-button__label:hover .radio-button__custom {
        transform:translateY(-70%)  scale(1.2);
        border-color: var(--radio-color);
        box-shadow: 0 0 10px var(--radio-color);
    }
@media screen and (max-width:481px) {
    .form{
        grid-template-columns: 1fr;
    }
    ._button{
        width: 50%;
    }
    .box .input{
        width: 90%;
    }
    #Tsh,#Tt4,#t3{
        grid-column: initial;
        grid-row: initial;
    }
}