@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Merienda:wght@500&family=Nunito+Sans:opsz,wght@6..12,500&family=Nunito:ital,wght@0,200;0,300;1,200&family=Outfit:wght@200&family=Playfair+Display&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.contact_con {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    
}

.heading{
    font-size: 40px;
}

.sideheading{
    font-size: 25px;
}

.contact_con form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.contact_username,.contact_email,.contact_comment{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

.contact_button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    }
  
  .contact_button:hover {
    background-color: #45a049;
  }

.contactGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 15vw;
}

.contactGrid img{
    width: 450px;
    margin: auto;
}
@media screen and (min-width:1025px) {
    .contactGrid img{
        width:380px;
    }
    .contact_con {
        max-width: 350px;
    }
    .heading{
        font-size: 35px;
    }
    .sideheading{
        font-size: 20px;
    }
}

@media screen and (min-width:1200px) {
    .contactGrid img{
        width: 450px;
    }
    .contact_con {
        max-width: 400px;
    }
    .heading{
        font-size: 40px;
    }
    .sideheading{
        font-size: 25px;
    }
}

@media screen and (max-width:481px) {
    .contactGrid{
        grid-template-columns: 1fr;
        
    }
    .contact_con{
        margin: auto;
    }

    .contact_con textarea{
        width: 80%;
    }
    .contactGrid img{
        width: 300px;
    }
    .contact_con form{
        gap:1rem;
    }
}
