footer{
    text-align: center;
}

.footer_container {
    background-color: #35303b;
    color: white;
    display: flex;

    justify-content: space-evenly; 


     flex-direction: row;
    /* padding:2vw 4vw 2vw; */
    padding: 2.4vw;
    overflow: hidden;
  }

  .main1{
    width: 25%;
    justify-content: space-between;
    padding-top: 6.4vw;
    display: flex;

  }

  .mainh{
    font-size: smaller;
  }

.icons1{
    width: 9vw;
    justify-content: space-between;
    display: flex;
}

.tagline{
    margin-top: 3px;
}
.main2{
    width: 9vw;
    flex-direction: column;
    flex: 0 auto;
    display: flex;
}

.matter1{
    max-width: 28vw;
    letter-spacing: .01vw;
    text-transform: uppercase;
    margin-bottom: 1vw;
    font-size: 1vw;
    line-height: 1.4vw;
}

.last{
    padding: 1vh;
    background-color: #b9aec7;
}

.phone{
    font-size: large;
}