.profile_body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20;
    padding: 0;
    background: #28bf96;
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_heading {
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.profile_email{
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
}

.profile_phone{
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
}

.profile_gender{
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
}


.profile_button{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
